<!-- views/admin/editAccommodation.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Editar Alojamiento</title>
</head>
<body>
<%- include('../navbar', { showProfile: false, showAdmin: true}) %>
<main>
    <div class="container">
        <div class="row">
            <h4 class="header center">Formulario de Edición de Alojamiento</h4>
        </div>
        <!-- Formulario para editar alojamiento -->
        <form class="col l6 s12" action="/admin/accommodations/<%= accommodation._id %>/edit" method="post">
            <div class="row">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" value="<%= accommodation.nombre %>" required>
            </div>
            <div class="row">
                <label for="ubicacion">Ubicación:</label>
                <input type="text" name="ubicacion" value="<%= accommodation.ubicacion %>" required>
            </div>
            <div class="row">
                <label for="ubicacion">Precio por noche:</label>
                <input type="text" name="precioPorNoche" value="<%= accommodation.precioPorNoche %>" required>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light teal darken-1" type="submit" name="action">Actualizar Alojamiento
                    <i class="material-icons right">send</i>
                </button>
                <button class="btn waves-effect waves-light teal darken-1" href="/admin/accomodations">Volver atrás
                    <i class="material-icons right">arrow_back</i>
                </button>
            </div>
        </form>
    </div>
<!-- Puedes agregar más contenido según sea necesario -->
</main>
</body>
</html>
