<!-- views/admin/reservations.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <title>Panel de Administración - Reservas</title>
</head>
<body>
<%- include('../navbar', { showProfile: false, showAdmin: true}) %>
<header>
</header>

<main>
    <!-- Contenido del Panel de Administración -->
    <div class="container">
        <!-- Sección de Reservas -->
        <section id="reservations-section" class="admin-section">
            <h2>Reservas</h2>
            <a class="waves-effect waves-light btn" href="/admin/reservations/new">Nueva Reserva</a>
            <!-- Tabla para mostrar reservas existentes -->
            <table class="highlight responsive-table">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Alojamiento</th>
                    <th>Fecha de inicio</th>
                    <th>Fecha de fin</th>
                    <th>Nº huéspedes</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <% if (typeof reservations !== 'undefined' && reservations.length > 0) { %>
                    <% reservations.forEach(reservation => { %>
                        <tr>
                            <td><%= reservation.nombreReserva %></td>
                            <td><%= reservation.telefono %></td>
                            <td><%= reservation.alojamiento.nombre %></td>
                            <td><%= reservation.fecha_inicio.toLocaleDateString() %></td>
                            <td><%= reservation.fecha_fin.toLocaleDateString() %></td>
                            <td><%= reservation.huespedes %></td>
                            <td><%= reservation.precioTotal %>€</td>
                            <td>
                                <!-- Agregar botones para editar y eliminar (puedes usar formularios o enlaces según prefieras) -->
                                <a class="waves-effect waves-light btn" href="/admin/reservations/<%= reservation._id %>/edit">Editar</a>
                                <a class="waves-effect waves-light btn" href="/admin/reservations/<%= reservation._id %>/delete">Eliminar</a>
                            </td>
                        </tr>
                    <% }); %>
                <% } else { %>
                    <tr>
                        <td colspan="5">No reservations found.</td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </section>
    </div>
</main>


</body>
</html>
