<!-- views/profile/reservations.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Mis Reservas</title>
</head>
<body>

<%- include('../navbar', { showProfile: true, showAdmin: false}) %>

<div class="section no-pad-bot" id="reservations-banner">
    <div class="container">
        <br><br>
        <div class="row center">
            <h1 class="text-accent-1">Mis Reservas</h1>
        </div>
        <!-- Mostrar las reservas del usuario -->
        <div class="row center">
            <% if (reservations.length > 0) { %>
                <ul class="collection">
                    <% reservations.forEach((reservation) => { %>
                        <li class="collection-item">
                            <span class="title"><strong>Fecha de Inicio:</strong> <%= reservation.fecha_inicio.toDateString() %></span>
                            <span class="title"><strong>Fecha de Fin:</strong> <%= reservation.fecha_fin.toDateString() %></span>
                            <p><strong>Nombre:</strong> <%= reservation.nombreReserva %><p>
                            <p><strong>Alojamiento:</strong> <%= reservation.alojamiento.nombre %></p>
                            <p><strong>Número de Huéspedes:</strong> <%= reservation.huespedes %></p>
                            <p><strong>Precio Total:</strong> <%= reservation.precioTotal %>€</p>
                            <!-- Agregar más detalles de la reserva según sea necesario -->
                        </li>
                    <% }); %>
                </ul>
            <% } else { %>
                <p>No tienes reservas.</p>
            <% } %>
        </div>
        <div class="row center">
            <a href="/alojamientos" class="btn waves-effect waves-light orange lighten-2">Ver alojamientos</a>
        </div><!-- Botón para volver a la página del perfil -->
        <div class="row center">
            <a href="/profile" class="btn waves-effect waves-light blue lighten-2">Volver al Perfil</a>
        </div>
    </div>
</div>

<%- include('../footer.ejs') %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>
