<!-- views/profile/reservations.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Mis Reservas</title>
</head>
<body>

<%- include('../navbar', { showProfile: true, showAdmin: false}) %>

<div class="section no-pad-bot" id="reservations-banner">
    <div class="container">
        <div class="row center">
            <h2 class="text-accent-1">Mis Reservas</h2>
            <h6>Nos vemos pronto en...</h6>
        </div>

        <!-- Mostrar las reservas del usuario -->
        <div class="row center">
            <% if (reservations.length > 0) { %>

                    <% reservations.forEach((reservation) => { %>
                        <div class="col s12 m6">
                            <div class="card medium teal lighten-3">
                                <div class="card-image">
                                    <img class="activator" src="<%= reservation.alojamiento.fotos[0].url %>" alt="<%= reservation.alojamiento.nombre %>">
                                </div>
                                <div class="card-content white-text">
                                    <span class="card-title activator"><%= reservation.alojamiento.nombre %> (<%= reservation.alojamiento.ubicacion %>)</span>
                                    <p><strong>Fecha de Inicio:</strong> <%= reservation.fecha_inicio.toLocaleDateString() %></p>

                                    <!-- Agregar más detalles según sea necesario -->
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4"><%= reservation.alojamiento.nombre %><i class="material-icons right">close</i></span>
                                    <!-- Detalles adicionales de la reserva -->
                                    <p><strong>Fecha de Inicio:</strong> <%= reservation.fecha_inicio.toLocaleDateString() %></p>
                                    <p><strong>Fecha de Fin:</strong> <%= reservation.fecha_fin.toLocaleDateString() %></p>
                                    <p><strong>Ubicación:</strong> <%= reservation.alojamiento.ubicacion %></p>
                                    <p><strong>Nombre de confirmación:</strong> <%= reservation.nombreReserva %></p>
                                    <p><strong>Número de Huéspedes:</strong> <%= reservation.huespedes %></p>
                                    <p><strong>Precio Total:</strong> <%= reservation.precioTotal %>€</p>
                                    <p><strong>Teléfono de contacto:</strong> <%= reservation.telefono %></p>
                                    <p><strong>Email de contacto:</strong> <%= reservation.emailConfirmacion %></p>
                                </div>
                                <div class="card-action">
                                    <!-- Botón para cancelar la reserva -->
                                    <form action="/profile/reservations/<%= reservation.id %>/cancel" method="post">
                                        <button type="submit" class="waves-effect waves-light btn red lighten-2">Cancelar Reserva</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    <% }); %>

            <% } else { %>
                <p>No tienes reservas.</p>
            <% } %>
        </div>
        <div class="row center">
            <a href="/alojamientos" class="btn waves-effect waves-light orange lighten-2">Ver alojamientos</a>
        </div><!-- Botón para volver a la página del perfil -->
        <div class="row center">
            <a href="/profile" class="btn waves-effect waves-light blue lighten-2">Volver al Perfil</a>
        </div>
    </div>
</div>

<%- include('../footer.ejs') %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>
