<!-- views/alojamientos.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Listado de Alojamientos</title>
</head>

<body>
<% if (user) { %>
    <%- include('navbar', { showProfile: true, showAdmin: false}) %>
<% } else { %>
    <%- include('navbar', { showProfile: false, showAdmin: false}) %>
<% } %>

<div class="container">
    <h1>Listado de Alojamientos</h1>
    <div class="row">
        <% accommodations.forEach(accommodation => { %>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <% if (accommodation && accommodation.fotos && accommodation.fotos.length > 0) { %>
                            <img class="activator" src="<%= accommodation.fotos[0].url %>" alt="<%= accommodation.nombre %>">
                        <% } else { %>
                            <p>No hay fotos disponibles</p>
                        <% } %>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><%= accommodation.nombre %><i class="material-icons right">more_vert</i></span>
                        <p><strong>Precio por noche:</strong> <%= accommodation.precioPorNoche %> EUR</p>
                        <p><strong>Ubicación:</strong> <%= accommodation.ubicacion %></p>
                        <p><strong>Capacidad:</strong> <%= accommodation.capacidad %> personas</p>
                        <p><strong>Tipo:</strong> <%= accommodation.tipo %></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><%= accommodation.nombre %><i class="material-icons right">close</i></span>
                        <p> <%= accommodation.descripcion %> </p>
                    </div>
                    <div class="card-action">
                        <% if (user) { %>
                            <form action="/nuevaReserva" method="post">
                                <a href="/alojamientos/<%= accommodation._id %>" class="waves-effect waves-light btn">Ver más</a>
                                <!-- Campo oculto para enviar el ID del alojamiento -->
                                <input type="hidden" name="idAlojamiento" value="<%= accommodation._id %>">
                                <!-- Botón para enviar el formulario -->
                                <button type="submit" class="waves-effect waves-light btn">Reservar</button>
                            </form>
                        <% } else { %>
                            <a href="/alojamientos/<%= accommodation._id %>" class="waves-effect waves-light btn">Ver más</a>
                            <a href="/auth/login" class="waves-effect waves-light btn">Inicia sesión</a>
                        <% } %>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<%- include('./footer.ejs') %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
